[Unit]
Description=Concourse Web

[Service]
User=nobody
Group=nogroup
EnvironmentFile=/etc/concourse-web.conf
ExecStart=/opt/concourse/bin/concourse web --log-level info
Restart=on-failure

[Install]
WantedBy=multi-user.target
